{% load static %}
<html lang='en-us'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, user-scalable=no'>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'style.css' %}" rel='stylesheet' />
    <link href="{% static 'title.css' %}" rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>